---
import { Icon } from 'astro-icon/components';
import Testimonials from './Testimonials.astro';
import CallToAction from './CallToAction.astro';
import { SITE } from 'portfolio:config';
import { getHomePermalink } from '~/utils/permalinks';

interface Link {
  text?: string;
  href?: string;
  ariaLabel?: string;
  icon?: string;
}

interface Links {
  title?: string;
  links: Array<Link>;
}

export interface Props {
  links: Array<Links>;
  legalLinks: Array<Link>;
  socialLinks: Array<Link>;
  footNote?: string;
  theme?: string;
}



import sayHelloImg from '~/assets/images/say-hello.png';

const { socialLinks = [], legalLinks = [], links = [], footNote = '', theme = 'light' } = Astro.props;
---

<!-- CallToAction Widget *********** -->

<CallToAction
title="Let's create together"
subtitle="Ihre Vision, meine Lösung - sind Sie dabei?"

image={{
  src: sayHelloImg,
  alt: 'Hello Image',
}}
actions={[{
  variant:"link",
  text: 'Kontakt',
  target: '_blank',
  href: 'https://www.linkedin.com/in/manuelfessen/',
}]}
/>

<footer class:list={[{ dark: theme === 'dark' }, 'relative border-t border-gray-200 dark:border-slate-800 not-prose']}>
  <hr class="my-8 border border-black" />
  <div class="dark:bg-dark absolute inset-0 pointer-events-none" aria-hidden="true"></div>
  <div class="relative max-w-7xl mx-auto px-4 sm:px-6 dark:text-slate-300">
    <div class="grid grid-cols-12 gap-4 gap-y-8 sm:gap-8 py-8 md:py-12">
      <div class="col-span-12 lg:col-span-6">
        <div class="mb-2">
          <a class="inline-block font-bold text-xl" href={getHomePermalink()}>{SITE?.name}</a>
        </div>

        <a class="inline-block" href="/privacy">Datenschutz­erklärung</a>
        <a class="inline-block" href="/impressum">Impressum</a>
        <a class="inline-block" href="/blog">Blog</a>
      </div>
    </div>
  </div>
</footer>
