<div id="cookies-eu-banner" data-wait-remove="250">
  I use cookies to 
  <button id="cookies-eu-reject">Reject</button>
  <button id="cookies-eu-accept">Accept</button>
</div>

   <!-- Glow Cookies v3.0.1 -->
   <script src="https://cdn.jsdelivr.net/gh/manucaralmo/GlowCookies@3.0.1/src/glowCookies.min.js"></script>
   <script>
       glowCookies.start('en', { 
           analytics: 'G-FH87DE17XF', 
           facebookPixel: '990955817632355',
           policyLink: 'https://google.en'
       });
   </script>