---
import Layout from '~/layouts/PageLayout.astro';
import { getHomePermalink } from '~/utils/permalinks';
import CallToAction from '~/components/widgets/CallToAction.astro';


import sayHelloImg from '~/assets/images/say-hello.png';

const title = `Error 404`;
import { headerData } from '~/navigation';
---

<Layout metadata={{ title }}>
  <section class="flex h-full py-16">
    <div class="flex flex-col px-5 my-8">
        <h2 class="mb-8 font-bold text-4xl">
          <span class="sr-only">Error</span>
          <span class="text-primary text-9xl">404</span>
        <p class="text-3xl font-semibold md:text-6xl">Die gesuchte Seite konnte leider nicht gefunden werden.</p>
        <a rel="noopener noreferrer" href={getHomePermalink()} class="btn">Zurück zum Start</a>
      </div>
  </section>
</Layout>
