---
import { SEO } from 'config'
import PageLayout from '@/layouts/PageLayout.astro'
import type { Frontmatter, SiteMeta } from '@/types'

const metadata: SiteMeta = {
  title: SEO.getTitle('404 Not Found'),
  description: 'Oops! It looks like this page is lost in space!',
}
---

<PageLayout {...metadata}>
  <div class='flex flex-1 flex-col items-center justify-center space-y-6 px-8 lg:px-16'>
  <div class='md:py-60 rounded-md flex-col'>
    <div class='flex flex-col'>
      <h1 class='font-bold text-blue-600 lg:text-5xl'>404</h1>

      <h6 class='mb-2 text-2xl font-bold md:text-3xl'>
        <span class='text-red-500'>Oops!</span> You weren't supposed to see this.
      </h6>

      <p class='mb-4 text-gray-500 md:text-lg'>The page you’re looking for doesn’t exist.</p>
      <div class='text-sm'>
        <a onclick="history.back()" class='font-semibold'>Go back</a>
        and remember: You haven't seen anything.
      </div>
    </div></div>
  </div>
</PageLayout>
