---
import BaseLayout from '@/layouts/BaseLayout.astro'
import Giscus from '@/components/Giscus.astro'
---

<BaseLayout title='Guestbook – Manuel Fessen' description='Leave some comments here.'>
  <h2 class='text-2xl font-bold xl:text-3xl tracking-tight mb-4'>Guestbook</h2>
  <p class='mb-4 text-gray-600 dark:text-gray-300'>Leave a comment below.</p>
</BaseLayout>
