---
import { SITE } from "@config";
import Layout from "@layouts/Layout.astro";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
---

<Layout title={`Impressum | ${SITE.title}`}>
  <Header />

  <div
    class="relative flex max-h-screen w-full flex-col overflow-y-auto"
  >
    <div class="mx-auto w-full max-w-2xl py-12 pb-10">
      <div class="md:space-y-16 space-y-8 pb-24">
        <section
          class="prose mx-auto w-full max-w-2xl px-4 py-12 pb-10 dark:prose-invert"
        >
          <h1 class="xl:text-2xl mb-8 font-sans text-2xl font-bold">
            Impressum
          </h1>
          <div class="space-y-1">
            <h2>Angaben gem&auml;&szlig; &sect; 5 TMG</h2>
            <p class="text-gray-700 dark:text-gray-300">
              Manuel Fessen<br />
              Ungelsheimer Weg 7<br />
              40472 D&uuml;sseldorf
            </p>
          </div>
          <div class="space-y-1">
            <h2>Kontakt</h2>
            <p class="text-gray-700 dark:text-gray-300">
              E-Mail: litze.pasten.0i@icloud.com
            </p>

            <p class="text-gray-700 dark:text-gray-300">
              Quelle: <a
                href="https://www.e-recht24.de/impressum-generator.html"
                >https://www.e-recht24.de/impressum-generator.html</a
              >
            </p>
          </div>
        </section>
      </div>
    </div>
  </div>
  <Header />
</Layout>
