---
import { SEO } from 'config'
import FullLayout from '@/layouts/FullLayout.astro'
import type { Frontmatter, SiteMeta } from '@/types'

const metadata: SiteMeta = {
  title: SEO.title,
  description: 'Manuel Fessen - UX Professional',
}
---

<FullLayout {...metadata}>

  <div class='relative flex max-h-screen w-full flex-col overflow-y-auto bg-white dark:bg-black'>
    
  <div class='mx-auto w-full max-w-3xl px-4 py-12 pb-10 md:px-8 text-black dark:text-white'>
    <div class='space-y-4'>
      <h1 class='font-sans text-2xl font-bold xl:text-3xl mb-8'>Impressum</h1>
      <div class="space-y-1">
      <h2>Angaben gem&auml;&szlig; &sect; 5 TMG</h2>
      <p class="text-gray-700 dark:text-gray-300">
        Manuel Fessen<br />
        Ungelsheimer Weg 7<br />
        40472 D&uuml;sseldorf
      </p>
    </div>
    <div class="space-y-1">
      <h2>Kontakt</h2>
      <p class="text-gray-700 dark:text-gray-300">E-Mail: litze.pasten.0i@icloud.com</p>

      <p class="text-gray-700 dark:text-gray-300">
        Quelle: <a href='https://www.e-recht24.de/impressum-generator.html'
          >https://www.e-recht24.de/impressum-generator.html</a
        >
      </p>
    </div>
    </div>
  </div>
  </div>
</FullLayout>
