---
import BaseLayout from '../layouts/BaseLayout.astro';

interface MarkdownFrontmatter {
  date: number;
}

let title = 'Manuel Fessen | UX Designer';
let description = 'Manuel Fessen is a designer and strategist currently living and working in Essen, Germany.';
let seoDescription = 'Manuel Fessen is a designer and strategist currently living and working in Essen, Germany.';
---

<BaseLayout title={title} description={description}>
  <main class="flex flex-col justify-center">
    <section class="flex flex-col-reverse sm:flex-row items-start">
      <div class="flex flex-col space-y-1">
        <h3 class="text-l leading-9 tracking-tight sm:text-xl sm:leading-10 md:text-2xl md:leading-14 mb-4">
          hi, I'm Manuel {" "}
          <span role="img" class="wave"> 👋 </span>
        </h3>
        <h1 class="text-xl leading-9 tracking-tight sm:text-2xl sm:leading-10 md:text-3xl md:leading-14">
          I'm a UX Designer based in Essen working at
          <a class="underline decoration-blue-400 hover:text-blue-400" href="https://www.easy-software.com"
            target="_blank">EASY Software</a>. I help with my skills and experience in delivering a great User
          Experience to customers.
        </h1>
        <h2 class="text-l tracking-tight sm:text-xl md:text-2xl max-w-none prose-list-disc">
          You can read the
          <a class="underline decoration-amber-500 hover:decoration-3 hover:text-amber-500" href="/blog">articles</a> I've written, browse my
          <a class="underline decoration-emerald-400 hover:decoration-3 hover:text-emerald-400" href="/notes">digital garden</a> or have a look at
          <a class="underline decoration-fuchsia-500 hover:decoration-3 hover:text-fuchsia-500" href="/books">my digital
            bookshelf</a>.
        </h2>
      </div>
    </section>
  </main>
</BaseLayout>