---
import { SEO } from 'config'
import { Image } from '@astrojs/image/components'
import avatar from 'public/sw.webp'
import BaseLayout from '@/layouts/BaseLayout.astro'
import PostCard from '@/components/PostCard.astro'
import type { Frontmatter, SiteMeta } from '@/types'
import Callout from '@/components/MDX/Callout.astro'

const posts = await Astro.glob<Frontmatter>('./blog/*.mdx')
const nonDraftPosts = posts.filter(({ frontmatter }) => !frontmatter.draft)
const sortedPosts = nonDraftPosts.sort(
  ({ frontmatter: { publishedAt: a } }, { frontmatter: { publishedAt: b } }) =>
    new Date(b).valueOf() - new Date(a).valueOf()
)
  .slice(0, 5)

const pinnedPosts = sortedPosts.filter(({ frontmatter }) => frontmatter.pinned)
const unpinnedPosts = sortedPosts.filter(({ frontmatter }) => !frontmatter.pinned)

const metadata: SiteMeta = {
  title: SEO.title,
  description: 'Manuel Fessen - UX Professional',
}
---

<BaseLayout {...metadata}>
  <div class='flex flex-col-reverse sm:flex-row sm:justify-between mb-4'>
    <div class='flex flex-col center'>
      <h1 class='text-gray-700 dark:text-gray-200 text-4xl mb-1 font-bold'>
        Hi, I'm Manuel {' '}
        <span role='img' class='wave'>👋</span>
      </h1>
      <h2 class='text-lg md:text-l font-medium leading-5 mb-4'>UX Designer at EASY Software.</h2>
      <h3 class='text-gray-600 dark:text-gray-300 text-lg md:text-l'>
        As a UX designer and problem solver, I use my expertise in usability, accessibility, and user research to create intuitive and engaging experiences that provide real value to users and customers. 
      </h3>
    </div>
    <div class='relative mb-8 sm:mb-0 md:ml-8 flex-none md:mt-0 mt-8'>
      <Image
        src={avatar}
        alt='Manuel Fessen'
        class='inline object-cover w-20 sm:w-32 h-20 sm:h-32 mr-2 rounded-full'
        draggable={false}
        loading='eager'
        format='webp'
      />
    </div>
  </div>
  <div class="space-x-2 my-4 mb-8">
    <a href="../crit">
    <Callout header="Available for cool projects in spring 2023"></Callout>
  </a>

  <a href='../contact'>
    <button class="relative inline-flex items-center justify-center p-0.5 mb-2 mr-2 overflow-hidden text-sm font-medium text-gray-900 rounded-lg group bg-gradient-to-br from-purple-600 to-blue-500 group-hover:from-purple-600 group-hover:to-blue-500 hover:text-white dark:text-white focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800">
      <span class="relative px-5 py-2.5 transition-all ease-in duration-75 bg-white dark:bg-gray-900 rounded-md group-hover:bg-opacity-0">
          Contact Me
      </span>
    </button>
  </a>
  <a href='../CV_Manuel_Fessen.pdf' target="_blank">
    <button type="button" class="text-current-color hover:text-white border border-border-gray-800 focus:ring-4 focus:outline-none focus:ring-gray-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2 dark:border-gray-100 dark:text-gray-100 dark:hover:text-white dark:hover:bg-gray-700 dark:focus:ring-gray-900">Download CV</button>
  </a>
  </div>
  <div class='space-y-6'>
    {
      !!pinnedPosts.length && (
        <>
          <h3 class='text-xl font-semibold'>Pinned</h3>
          <ol class='space-y-4'>
            {pinnedPosts.map(({ frontmatter }) => (
              <li>
                <PostCard {...frontmatter} />
              </li>
            ))}
          </ol>
        </>
      )
    }
    <h3 class='text-xl font-semibold'>Latest Posts</h3>
    {
      nonDraftPosts.length ? (
        <ol class='space-y-4'>
          {unpinnedPosts.map(({ frontmatter }) => (
            <li>
              <PostCard {...frontmatter} />
            </li>
          ))}
        </ol>
      ) : (
        <p class='text-gray-600 dark:text-gray-300'>No posts yet.</p>
      )
    }
  </div>
</BaseLayout>

<style>
  /* https://jarv.is/notes/css-waving-hand-emoji/ */
  .wave {
    animation-name: wave-animation;
    animation-duration: 2.667s;
    animation-iteration-count: infinite;
    transform-origin: 70% 70%;
    display: inline-block;
  }

  @keyframes wave-animation {
    0% {
      transform: rotate(0deg);
    }
    10% {
      transform: rotate(14deg);
    }
    20% {
      transform: rotate(-8deg);
    }
    30% {
      transform: rotate(14deg);
    }
    40% {
      transform: rotate(-4deg);
    }
    50% {
      transform: rotate(10deg);
    }
    60% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(0deg);
    }
  }
</style>
