---
export type Props = {
	href: string
}

const { href } = Astro.props
const { pathname } = Astro.canonicalURL
const isActive = href !== '/' && pathname.startsWith(href)
---

<a href={href} class={`inline-block ${ isActive ? 'font-bold text-sm'
	: 'transition-colors duration-200 border-b hover:border-current text-sm'
	}`}>
	<slot />
</a>
