---
import EmailSignup from './Subscribe/EmailSignup.astro'

export interface Props {
  title: string;
  date: string;
  hero: string;
}

const { title, date, hero } = Astro.props;
---

<article class="max-w-5xl mx-auto px-3">
  <header class="mx-auto max-w-3xl text-center content">
    <h1>{title}</h1>
  </header>

  <!-- Image -->
  {hero && <img class="rounded-xl mx-auto" style="min-width: 80%;" loading="lazy" src={hero} alt={title} />}

  <!-- Date -->
  <h2>{date}</h2>

  <!-- Content -->
  <section class="max-w-3xl mx-auto py-6 lg:py-12 content">
    <slot />
  </section>

  <EmailSignup />
</article>
