---
import EmailSignup from './Subscribe/EmailSignup.astro'
import dayjs from 'dayjs'

export interface Props {
  title: string;
  date: string;
  hero: string;
}

const { title, date, hero } = Astro.props;
---

<article class="mx-auto space-y-4">

  <!-- Image -->
  {hero && <img class="rounded-xl mx-auto w-full" style="min-width: 80%;" loading="lazy" src={hero} alt={title} />}

  <!-- Headline -->
  <h1 class="font-medium leading-tight text-5xl mt-0 mb-2">{title}</h1>

  <!-- Date -->
  <h2 class="font-light text-gray-300">Posted on {dayjs(date).format('DD.MM.YYYY')} reading time </h2>

  <!-- Content -->
  <section class="mx-auto py-6 lg:py-12 content">
    <slot />
  </section>

  <EmailSignup />
</article>
