---
import EmailSignup from './Subscribe/EmailSignup.astro'
import dayjs from 'dayjs'


export interface Props {
  title: string;
  date: string;
  minutes: number;
  keywords: string;
}

const { title, date, keywords, minutes } = Astro.props;
---

<div class="flex justify-between mb-4 mt-16 text-xs no-decoration">
  <a href="/" class="">← Return home</a>
  <span class="">{keywords}</span> 
</div>


<article class="space-y-1 prose md:prose-xl">

  <!-- Headline -->
  <h1 class="font-medium leading-tight text-3xl -pb-16">{title}</h1>

  <!-- Date -->
  <p class="font-light text-xs">Posted on {dayjs(date).format('DD.MM.YYYY')} {minutes} minutes to read</p>

  <div class="divider"></div> 

  <!-- Content -->
  <section class="mx-auto pb-6 lg:pb-12 content">
    <slot />
  </section>

  <EmailSignup />
</article>