---
import EmailSignup from './Subscribe/EmailSignup.astro'
import dayjs from 'dayjs'

export interface Props {
  post: any;
  title: string;
  date: string;
}


const { title, date } = Astro.props;
---

<article class="space-y-1 prose md:prose-xl">

  <!-- Headline -->
  <h1 class="font-medium leading-tight text-3xl mt-16">{title}</h1>

  <!-- Date -->
  <p class="font-light -mt-8">Posted on {dayjs(date).format('DD.MM.YYYY')} </p>

  <div class="divider"></div> 

  <!-- Content -->
  <section class="mx-auto pb-6 lg:pb-12 content">
    <slot />
  </section>

  <EmailSignup />
</article>