---
import dayjs from 'dayjs'

export interface Props {
  post: any;
  minutes: number;
}

const { post } = Astro.props;
const wpm = 200; // Slightly less than average
const wordCount = post.rawContent().split(/(s+)/).length;
const reading = Math.max(1, Math.floor(wordCount / wpm));


---

<a class="w-full" href={post.url}>
  <div class="w-full mb-8">
    <div class="flex flex-col justify-between md:flex-row pb-2">
      <h4 class="w-full mb-2 text-lg font-medium md:text-xl">
        {post.frontmatter.title}</h4>
      <p class="w-32 mb-4 text-left md:text-right md:mb-0">{dayjs(post.frontmatter.date).format('DD.MM.YYYY')}</p>
    </div>
    <p class="badge badge-outline">{post.frontmatter.keywords}</p>
  </div>
</a>