---
import type { Frontmatter, SiteMeta } from '@/types'
import CaseStudyCard from './CaseStudyCard.astro'

const posts = await Astro.glob<Frontmatter>('../pages/casestudies/*.mdx')
const nonDraftPosts = posts.filter(({ frontmatter }) => !frontmatter.draft)
const sortedPosts = nonDraftPosts
  .sort(
    ({ frontmatter: { publishedAt: a } }, { frontmatter: { publishedAt: b } }) =>
      new Date(b).valueOf() - new Date(a).valueOf()
  )
  .slice(0, 15)

const pinnedPosts = sortedPosts.filter(({ frontmatter }) => frontmatter.pinned)
const unpinnedPosts = sortedPosts.filter(({ frontmatter }) => !frontmatter.pinned)
---

<div class='bg-dots min-h-screen w-full'>
  <div
    class='h-full max-h-screen min-h-screen flex-none overflow-y-auto border-r border-gray-150 bg-white dark:border-gray-800 dark:bg-gray-900 lg:w-80 lg:bg-gray-50 lg:dark:bg-gray-900 xl:w-96'
  >
  <div
  class='sticky top-0 z-10 flex flex-col justify-center px-3 py-2 dark:border-b dark:border-gray-900 h-12 bg-white dark:bg-gray-900 lg:w-80 lg:bg-gray-50 lg:dark:bg-gray-900'
>
  <div class='flex items-center justify-between flex-none'>
    <span class='flex items-center space-x-3' > 
      <span
      class='flex items-center justify-center p-2 rounded-md cursor-pointer hover:bg-gray-200 dark:hover:bg-gray-800 lg:hidden'
      type='button'
      data-drawer-target='drawer-backdrop'
      data-drawer-show='drawer-backdrop'
      data-drawer-backdrop='true'
      aria-controls='drawer-backdrop'
      ><svg
        xmlns='http://www.w3.org/2000/svg'
        width='16'
        height='16'
        viewBox='0 0 24 24'
        fill='none'
        stroke='currentColor'
        stroke-width='2'
        stroke-linecap='round'
        stroke-linejoin='round'
        class='text-primary'
        ><line x1='3' y1='12' x2='21' y2='12'></line><line x1='3' y1='6' x2='21' y2='6'
        ></line><line x1='3' y1='18' x2='21' y2='18'></line></svg
      ></span
    >
      <h2 class='text-sm font-bold transform-gpu line-clamp-1 text-gray-900 dark:text-gray-100'>
        Case Studies
      </h2>
    </span>
  </div>
</div>
    <div class='lg:space-y-1 lg:p-3 px-3'>
      {
        unpinnedPosts.length ? (
          unpinnedPosts.map(({ frontmatter }) => <CaseStudyCard {...frontmatter} />)
        ) : (
          <p class='text-gray-600 dark:text-gray-300'>No posts yet. Come back later.</p>
        )
      }
    </div>
  </div>
</div>
