---

---

<a class="hover:!no-underline" target="_blank"
href="https://www.linkedin.com/in/manuelfessen/">
<div class="border p-6 my-8 border-[var(--color-border)]">
  <p class="font-mono">
    Hello there! 👋 
    <br>
    Feel free to reach out. I'm here to help and excited to connect. 
    <br><br>
    Best regards,
    <br>
    Manuel
  </p>
</div>
</a>





