---

---

<div class="bg-gray-100 dark:bg-gray-800 p-6 mt-8">
  <p class="text-gray-600 dark:text-gray-300 font-mono">
    👋 Hello there!
    <br>
    Got questions or looking for collaboration? Feel free to <a href="/contact" class="">reach out</a>. I'm here to help and excited to connect.
    <br><br>
    Ready to take the next step? If you're interested in working together, whether it's a project, consultation, or anything else, I invite you to hire me. Let's bring your ideas to life and achieve greatness together.
    <br><br>
    Looking forward to hearing from you and embarking on this journey together!
    <br><br>
    Best regards,
    <br>
    Manuel
  </p>
</div>





