---
const currentYear = new Date().getFullYear();

export interface Props {
  noMarginTop?: boolean;
}

const { noMarginTop = false } = Astro.props;
---

<footer class={`${noMarginTop ? "" : "mt-auto"}`}>
  <div class="footer-wrapper">
    <div class="grow text-left">
      Manuel Fessen (<a
        target="_blank"
        href="https://www.linkedin.com/in/manuelfessen/">@manuelfessen</a
      >)
    </div>
    <div><a class="mr-2" href="/dse">Datenschutzerklärung</a></div>
    <div><a href="/impressum">Impressum</a></div>
  </div>
</footer>

<style>
  footer {
    @apply w-full;
  }
  .footer-wrapper {
    @apply mt-3 flex pb-6 pt-3 text-center text-xs;
  }

  a {
    @apply hover:text-skin-accent;
  }
</style>
