---

import { format } from 'date-fns';

const builtAt: Date = new Date();
const builtAtFormatted = format(builtAt, 'dd MMMM, yyyy');
---

<section>
 
  <div class="text-xs mt-2 flex-shrink-0 max-w-full relative inline-block ">Last update on {builtAtFormatted} @<a class="no-underline font-semibold link border-b" href="https://github.com/manuelfessen" target="_blank">
          Github</a>.
</div>
</section>
