---
import { Icon } from "astro-icon";
import ThemeSwitcher from "./theme-switcher.astro";


const navItems = [
  { title: "Home", url: "/" },
  { title: "Blog", url: "/posts" },
  { title: "Search", url: "/search" },
]
---

<nav id="page-header" class="flex justify-between items-center w-full pt-8 pb-8 sm:pb-16 navbar">
    <nav class="hidden md:block">
      <ul class="flex items-center gap-4 ml-[-0.60rem]">
        {navItems.map(({ title, url }) => (
          <li>
            <a class="font-normal hidden md:inline-block p-1 sm:px-3 sm:py-2 rounded-lg transition-all" href={url}>
              {title}
            </a>
          </li>
        ))}
      </ul>
    </nav>
    <ThemeSwitcher />
    <label for="my-modal-3" class="btn modal-button md:hidden">
      <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h7" /></svg>
    </label>
    <input type="checkbox" id="my-modal-3" class="modal-toggle" />
    <div class="modal">
      <div class="modal-box w-full h-full" aria-modal="true">
        <label for="my-modal-3" class="btn btn-sm btn-circle absolute right-4 top-4">✕</label>
        <div class="space-y-4" role="dialog" aria-modal="true">
            <ul class="flex flex-col">
              {navItems.map(({ title, url }) => (
                <li>
                  <a class="block py-4 text-xl text-center" href={url}>
                    {title}
                  </a>
                </li>
              ))}
            </ul>
        </div>
      </div>
    </div>
</nav>