---
import { Icon } from "astro-icon";
import ThemeSwitcher from "./theme-switcher.astro";


const navItems = [
  { title: "Home", url: "/" },
  { title: "Blog", url: "/posts" },
  { title: "Search", url: "/search" },
]
---

<nav id="page-header" class="flex justify-between items-center w-full sm:pb-16 text-primary border-b border-transparent">
  <div class="flex items-center justify-between w-full relative pt-8 pb-8 sm:pb-16">   
    <nav class="hidden md:block">
      <ul class="flex items-center gap-6">
        {navItems.map(({ title, url }) => (
          <li>
            <a class="font-normal text-gray-800 dark:text-gray-200 hidden md:inline-block p-1 sm:px-3 sm:py-2 rounded-lg hover:bg-gray-200 dark:hover:bg-gray-800 transition-all" href={url}>
              {title}
            </a>
          </li>
        ))}
      </ul>
    </nav>
    <ThemeSwitcher />
    <label for="my-modal-3" class="btn modal-button md:hidden">
      <svg class="h-5 w-5 absolute" width="20" height="20" viewBox="0 0 20 20" fill="none" data-hide="false"><path d="M2.5 7.5H17.5" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path><path d="M2.5 12.5H17.5" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path></svg></label>
    
    <!-- Put this part before </body> tag -->
    <input type="checkbox" id="my-modal-3" class="modal-toggle" />
    <div class="modal w-full h-full">
      <div class="modal-box relative w-full h-full" aria-modal="true">
        <label for="my-modal-3" class="btn btn-sm btn-circle absolute right-4 top-4">✕</label>
        <div class="space-y-4" role="dialog" aria-modal="true">
            <ul class="flex flex-col">
              {navItems.map(({ title, url }) => (
                <li>
                  <a class="block py-4 text-xl text-center" href={url}>
                    {title}
                  </a>
                </li>
              ))}
            </ul>
        </div>
      </div>
    </div>
    </div>
</nav>