---
interface Props {
  src: string;
}

const { src = "" } = Astro.props;
---

<div class="flex flex-row justify-start items-center">
  <img src={src} alt="" class="h-4 mr-1.5" />
  <div class="w-fit h-fit">
    <slot />
  </div>
</div>