---
import ThemeSwitcher from "./theme-switcher.astro";
import ActiveLink from "./ActiveLink.astro";


const navItems = [
  { title: "Home", url: "/" },
  { title: "Blog", url: "/blog" },
  { title: "About", url: "/about" },
  { title: "Notes", url: "/notes" },
]


const { pathname } = Astro.canonicalURL
const url = Astro.canonicalURL.toString()
const isHome = pathname === '/'
---

<nav id="page-header" class="flex justify-between items-center w-full sm:pb-16 text-sm">
  <nav class="text-sm sm:text-base">
    <ul class="flex w-full space-x-4">
      <li class="nav-link">
        <ActiveLink href="/blog">Blog</ActiveLink>
      </li>
      <li class="nav-link">
        <ActiveLink href="/about">About</ActiveLink>
      </li>
      <li class="nav-link">
        <ActiveLink href="/notes">Notes</ActiveLink>
      </li>
      {!isHome && (
      <li class="nav-link">
        <ActiveLink href="/">Home</ActiveLink>
      </li>
      )}
    </ul>
  </nav>
  <ThemeSwitcher />
</nav>