---
import { nav } from './data/nav.js'
import ThemeChange from "../components/ThemeChange.astro";
---

<nav class="flex-1 flex items-center justify-between pb-4">
  <ul class="menu menu-horizontal p-0 hidden md:flex ml-[-0.60rem]">
    {nav.map((item) => (
      <li>
        <a class="p-1 sm:px-3 sm:py-2" href={item.slug}>{item.title}</a>
      </li>
    ))}
  </ul>

  <div class="flex">
  <ThemeChange />
  <a
class="btn btn-square btn-ghost swap" href="/search"
><svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
    d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z" />
</svg>
</a>
  </div>


  <div class="dropdown dropdown-end md:hidden">
    <label tabindex={0} class="btn btn-ghost btn-square">
      <svg
        class="w-6 h-6 stroke-current"
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 24 24"
        fill="none"
        stroke="#000"
        stroke-width="1.5"
        stroke-linecap="round"
        stroke-linejoin="round"
        class="feather feather-menu"
      >
        <line x1="3" y1="12" x2="21" y2="12"></line>
        <line x1="3" y1="6" x2="21" y2="6"></line>
        <line x1="3" y1="18" x2="21" y2="18"></line>
      </svg>
    </label>
    <ul
      tabindex={0}
      class="dropdown-content menu p-2 bg-base-200 rounded-box w-52 menu-compact"
    >
      {nav.map((item) => (
        <li>
          <a href={item.slug}>{item.title}</a>
        </li>
      ))}
    </ul>
  </div>
</nav>
