---
import SearchInput from "./SearchInput.astro";
import ThemeSwitcher from "./theme-switcher.astro";
import ActiveLink from "./ActiveLink.astro";


const navItems = [
  { title: "Home", url: "/" },
  { title: "Blog", url: "/blog" },
  { title: "About", url: "/about" },
  { title: "Photography", url: "/photography" },
]


const { pathname } = Astro.canonicalURL
const url = Astro.canonicalURL.toString()
const isHome = pathname === '/'
---

<nav id="page-header" class="flex justify-between items-center w-full sm:pb-16 text-sm">
  <nav class="text-sm sm:text-base">
    <ul class="flex w-full space-x-4">
      <li class="nav-link">
        <ActiveLink href="/blog">Blog</ActiveLink>
      </li>
      <li class="nav-link">
        <ActiveLink href="/about">About</ActiveLink>
      </li>
      <li class="nav-link">
        <ActiveLink href="/photography">Photography</ActiveLink>
      </li>
      {!isHome && (
      <li class="nav-link">
        <ActiveLink href="/">Home</ActiveLink>
      </li>
      )}
    </ul>
  </nav>
  <ThemeSwitcher />
  <label for="my-modal-3" class="modal-button hidden md:hidden btn-ghost btn mr-[-1.20rem]">
    <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h7" />
    </svg>
  </label>
  <input type="checkbox" id="my-modal-3" class="modal-toggle" />
  <div class="modal w-screen h-screen items-center hs-modal fixed top-0 left-0 z-[60] overflow-x-hidden overflow-y-auto bg-base-100/100">
    <div class="modal-box w-screen h-screen border-none shadow-none" aria-modal="true">
      <div class="flex flex-row-reverse">
        <label for="my-modal-3" class="btn-ghost btn m-2 -mt-10"><svg class="h-5 w-5 absolute" viewBox="0 0 24 24"
            width="24" height="24" stroke="currentColor" stroke-width="1.5" stroke-linecap="round"
            stroke-linejoin="round" fill="none" shape-rendering="geometricPrecision" data-hide="false">
            <path d="M18 6L6 18"></path>
            <path d="M6 6l12 12"></path>
          </svg></label>
      </div>
      <div class="flex flex-col mx-8 h-full justify-between" role="dialog" aria-modal="true">
        <div class="my-16 bottom-0">
          <SearchInput />
        </div>
        <ul class="my-16">
          {navItems.map(({ title, url }) => (
          <li>
            <a class="block p4-8 text-xl text-center text-current" href={url}>
              {title}
            </a>
            <div class="divider"></div>
          </li>
          ))}
        </ul>
      </div>
    </div>
  </div>
</nav>