---

export type Props = {
	title: string
	description: string
}

const { post } = Astro.props
---

<article class="relative">
	<div class="flex flex-col sm:flex-row justify-between mb-2">
		<h3 class="flex mb-1 sm:mb-0 text-lg sm:text-xl font-bold w-full text-slate-900 dark:text-slate-100">
			<a href={post.url}
				class="block-link transition-opacity opacity-80 hover:opacity-100">
				{post.title}
			</a>
		</h3>
	</div>
	<p class="text-slate-600 dark:text-slate-400 max-w-2xl">{post.description}</p>
</article>
