---
import type { Frontmatter } from '@/types'

const { slug, title, description } = Astro.props as Frontmatter
---

<a
class={cx(
  'flex flex-1 items-center space-x-3 rounded-md px-2 py-1.5 text-sm font-medium',
  Astro.url.pathname.split('/')[2] === slug.replaceAll('/', '')
    ? 'bg-black text-white hover:bg-black hover:text-white dark:bg-gray-700 dark:text-white dark:hover:bg-gray-700 dark:hover:text-white'
    : 'text-gray-700 dark:text-gray-200 sm:hover:bg-gray-200 sm:hover:text-gray-900 sm:dark:hover:bg-gray-700 sm:dark:hover:text-gray-200'
)}
{...(slug.startsWith('http') ? { rel: 'noopener noreferrer' } : { rel: 'prefetch' })}
  href={`/notes/${slug}`}
  >
  <h3 class='mb-1 text-lg md:text-xl font-semibold text-gray-900 dark:text-gray-100'>
    {title}
  </h3>
  <p class='text-gray-600 dark:text-gray-400 font-normal line-clamp-4'>{description}</p>
</a>




