---
const { heading, posts, dateFormat, url } = Astro.props;

posts.sort((a, b) => b.frontmatter.pubDate - a.frontmatter.pubDate);
---
<section class="max-w-screen-md">
  <h3 class="text-2xl mt-8">
    {heading}
  </h3>

  <ul class="flex flex-col max-w-screen-md">
    {posts.map(post => (
 <li class="py-2 gap-2">
      <a class="no-hover " href={post.frontmatter.url} target="_blank">
  <div class="flex items-start flex-row mt-2">
        <div class="text-sm font-light">{post.frontmatter.title}<svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2"><path stroke-linecap="round" stroke-linejoin="round" d="M10 6H6a2 2 0 00-2 2v10a2 2 0 002 2h10a2 2 0 002-2v-4M14 4h6m0 0v6m0-6L10 14" />
</svg>
        </div> 
  </div>
  </a>
  </li>
    ))}
  </ul>
</section>