---
const SOCIAL_LINK = [
  { name: 'LinkedIn', url: 'https://www.linkedin.com/in/manuelfessen', svg: '/svg/brands/linkedin.svg' },
  { name: 'Figma', url: 'https://figma.com/@manuelfessen', svg: '/svg/brands/figma.svg' },
  { name: 'Github', url: 'https://github.com/manuelfessen', svg: '/svg/brands/github.svg' },
  { name: 'Instagram', url: 'https://www.instagram.com/manuelfessen/', svg: '/svg/brands/instagram.svg' },
  { name: 'Strava', url: 'https://www.strava.com/athletes/31601783', svg: '/svg/brands/strava.svg' },
]
---


<section class='grid items-start grid-cols-1 gap-6 md:grid-cols-12'>
  <h4
    class='col-span-2 pt-8 text-lg font-extrabold text-black dark:text-white md:pt-0 md:text-right md:text-base md:font-normal md:text-opacity-40'
  >
    Online
  </h4><div class='col-span-10'>
    <div class='flex flex-col space-y-3'>
      {
        SOCIAL_LINK.map(({ name, url }) => (
            <a
            target='_blank'
            rel='noopener noreferrer'
            href={url}
            class='flex items-center space-x-4 group'
            ><strong
            class='flex-none font-medium group-hover:text-blue-600 group-hover:underline dark:text-gray-100 dark:group-hover:text-blue-500'
            >{name}</strong><span
            class='w-full border-t border-gray-300 border-dashed shrink dark:border-gray-800'
          ></span><span class='flex-none text-gray-700 dark:text-gray-300'>Follow</span>
        </a>
        ))
      }
    </div>
  </div>
</section>


