---
import { Photo } from "./data/photo";

export interface Props {
  photo: Photo;
}
const { photo } = Astro.props as Props;
---

<div>
  <a href={`/images/${photo.id}`}>
    <img src={photo.src.compressed} alt={photo.alt} class="w-full rounded-lg" />
  </a>
</div>