---
import BaseHead from '@/components/BaseHead.astro'
import Sidebar from '@/components/Sidebar.astro'
import Itembar from './Itembar.astro'
import type { SiteMeta } from '@/types/index'
import { Image } from '@astrojs/image/components'
import avatar from 'public/sw.webp'

export type BaseHeadProps = {
  meta: SiteMeta
}

const { title, description, image } = Astro.props as BaseHeadProps
---

<html lang='en' class='font-serif antialiased'>
  <head>
    <BaseHead title={title} description={description} />
  </head>
  <body class='relative flex h-full min-h-screen w-full'>
    <Sidebar />
    <Itembar />
  </body>
</html>
