---
import { Icon } from "astro-icon";
---
<label
  id="theme-switcher"
  type="button"
  class="transition-all origin-[right_center] duration-500 rounded-lg hover:ring-2 ring-gray-300"
>
<div id="icon-theme-light" class="">
  <Icon name="theme/light" class="h-8" />
  <span class="sr-only">Use light theme</span>
</div>
<div id="icon-theme-black" class="">
  <Icon name="theme/dark" class="h-8" />
  <span class="sr-only">Use dark theme</span>
</div>
</label>




<script>
  const themes = ["light", "black"];
  const button = document.querySelector("#theme-switcher");

  const getThemeCurrent = () => document.documentElement.dataset.theme;
  const getThemeNext = () => {
    const themeCurrent = getThemeCurrent();
    const indexThemeCurrent = themes.indexOf(themeCurrent);
    return themes[(indexThemeCurrent + 1) % themes.length];
  };

  const updateIcon = () => {
    const themeCurrent = getThemeCurrent();
    document
      .querySelector(`#icon-theme-${themeCurrent}`)
      .classList.add("hidden");
    const themeNext = getThemeNext();
    document
      .querySelector(`#icon-theme-${themeNext}`)
      .classList.remove("hidden");
  };

  button.addEventListener("click", () => {
    const themeNext = getThemeNext();
    document.documentElement.dataset.theme = themeNext;
    localStorage.setItem("theme", themeNext);
    updateIcon();
  });

  updateIcon();
</script>