---
const SOCIAL_LINK = [
  {
    name: 'EASY Software AG',
    url: 'https://www.easy-software.com',
    title: 'UX Researcher',
    time: '2016-18',
  },
  {
    name: 'Ludetis UG',
    url: 'https://www.kick-it-out.de',
    title: 'Community Manager',
    time: '2013-19',
  },
]
---

<section class='grid items-start grid-cols-1 gap-6 md:grid-cols-12'>
  <h4
    class='col-span-2 pt-8 text-lg font-extrabold text-black dark:text-white md:pt-0 md:text-right md:text-base md:font-normal md:text-opacity-40'
  >
    Work
  </h4>
  <div class='col-span-10'>
    <div class='flex flex-col space-y-3'>
      <a
        target='_blank'
        rel='noopener noreferrer'
        href='https://www.easy-software.com'
        class='flex items-center space-x-4 group'
        ><strong
          class='flex-none font-medium text-gray-1000 group-hover:text-blue-600 group-hover:underline dark:text-gray-100 dark:group-hover:text-blue-500'
          >EASY Software</strong
        ><span class='w-full border-t border-gray-300 border-dashed shrink dark:border-gray-800'
        ></span><span class='flex-none text-gray-700 dark:text-gray-300'>UX Designer</span><span
          class='flex-none font-mono text-gray-700 dark:text-gray-300'>2019—&nbsp;&nbsp;</span
        >
      </a>
      {
        SOCIAL_LINK.map(({ name, url, title, time }) => (
          <a
            target='_blank'
            rel='noopener noreferrer'
            href={url}
            class='group flex items-center space-x-4'
          >
            
              <strong class='text-gray-1000 flex-none font-medium group-hover:text-blue-600 group-hover:underline dark:text-gray-100 dark:group-hover:text-blue-500'>
                {name}
              </strong>
            <span class='w-full shrink border-t border-dashed border-gray-300 dark:border-gray-800' />

            <>
              <span class='flex-none text-gray-700 dark:text-gray-300'>{title}</span>
              <span class='flex-none font-mono text-gray-700 dark:text-gray-300'>{time}</span>
            </>
          </a>
        ))
      }
    </div>
  </div>
</section>
