---
import Pagination from "@/components/Atoms/Paginator";
import BaseLayout from "@/layouts/BaseLayout";
import BookList from "@/components/bookshelf/BookList";
import BookReviewList from "@/components/bookshelf/BookReviewList";

export async function getStaticPaths({ paginate }) {
	let allPosts = (await Astro.glob("./*.md")).sort(
		(a, b) =>
			new Date(b.frontmatter.date).valueOf() -
			new Date(a.frontmatter.date).valueOf()
	);

	return paginate(allPosts, {
		pageSize: 6,
	});
}

const { page } = Astro.props;

const meta = {
	title: "Manuel Fessens digital bookshelf",
	description: "A collection of books I have read in the past.",
};
---

<BaseLayout meta={meta}>
	<div class="prose max-w-none prose-list-disc leading-6">
		<h1 class="">My digital bookshelf 📚</h1>
		<p class="mb-4">
			Thanks to my kindle paperwhite, i have found the fun in reading again. Oh,
			and because I'm no longer <span class="line-through">pushed</span>{" "}
			encouraged to read works like Buddenbrooks, Iphigenie auf Tauris and Tauben
			im Gras.
		</p>
	</div>

	<hr class="my-8" />

	<section id="recent">
		<h2 class="text-3xl md:text-2xl tracking-tight mt-12 mb-2 font-semibold">
			Recently read
		</h2>
		<BookList />
	</section>

	<section id="favorites">
		<h2 class="text-3xl md:text-2xl tracking-tight mt-12 mb-2 font-semibold">
			Favorites
		</h2>

		<BookReviewList />
	</section>
	<Pagination page={page} />
</BaseLayout>
