<footer class="mb-8 bottom-0">
  <hr class="my-6 border-gray-200 lg:my-8" />
  <div class="text-xs mt-4 sm:mt-0">
    Written, designed, and built by 
    <a href="/about" class="underline">Manuel Fessen</a>, a designer who you can find on 
    <a href="https://www.linkedin.com/in/manuelfessen" class="underline">LinkedIn</a>, 
    <a href="https://www.xing.de/manuelfessen" class="underline">Xing</a>, 
    <a href="https://www.github.com/manuelfessen" class="underline">Github</a>, or good old-fashioned Email. Inspired by 
    <a href="/blog/drafts/inspiration" class="underline">lots of people</a>. 

  </div>
</footer>