---
import { format } from 'date-fns';

const builtAt: Date = new Date();
const builtAtFormatted = format(builtAt, 'dd MMMM, yyyy');
---

<section class="hidden md:flex flex-wrap flex-shrink-0 max-w-full mt-0">

  <div class="text-xs flex-shrink-0 max-w-full relative inline-block">Last update on {builtAtFormatted} <a
      class="link-emoji relative inline-block transition-colors duration-200 border-b hover:text-transparent hover:border-transparent text-xs" href="https://github.com/manuelfessen" target="_blank">
      @Github</a>
  </div>
</section>