---
const clarityId = import.meta.env.PUBLIC_CLARITY_ID;
---
<div id="cookieBanner" class="fixed bottom-0 right-0 sm:mb-4 sm:mr-4 m-2 cookie-banner hidden bg-page">
    <div class="shadow-lg p-4 border border-[var(--color-border)] bg-skin-fill sm:w-96 w-full">
        <div class="flex items-center justify-between mb-2">
            <div class="flex items-center">
                <img src="https://www.svgrepo.com/show/401340/cookie.svg" alt="Cookie" class="h-6 w-6 mr-2" />
                <span class="font-bold text-sm">Cookie Policy</span>
            </div>
            <button id="closeBanner" class="text-sm">&times;</button>
        </div>
        <p class="text-sm">
            By accepting cookies, you're helping me experiment and analyze; decline if you prefer less tracking. For details: <a href="/dse">Privacy Policy</a>.
        </p>
        <button id="acceptCookies" class="mt-4 font-bold py-2 px-4 border border-skin-fill border-opacity-40 hover:border-skin-accent">
            Accept
        </button>
        <button id="declineCookies" class="mt-4 py-2 px-4 hover:underline">
            Decline
        </button>
    </div>
</div>