---
import BaseLayout from "./BaseLayout.astro";

const { content } = Astro.props;
const { title, description } = content;
---

<BaseLayout meta={{ title, description }}>
	<main class="prose max-w-none prose-list-disc leading-8">
		<slot />
	</main>
</BaseLayout>
