---
import BaseLayout from './BaseLayout.astro'
import readingTime from 'reading-time'

const { content } = Astro.props;
const { title, description, date, keywords } = content;

const reading = readingTime(content.astro.source)
---

<BaseLayout title={`${title}`} description={description}>
    <main class="prose max-w-none prose-list-disc leading-6">
        <slot />
    </main>
</BaseLayout>