---
import BlogPost from '../components/BlogPost.astro';
import BaseLayout from './BaseLayout.astro'
import readingTime from 'reading-time'

import { format } from 'date-fns';

const builtAt: Date = new Date();
const builtAtFormatted = format(builtAt, 'dd MMMM, yyyy');

const { content } = Astro.props;
const { title, description, date, keywords } = content;

const reading = readingTime(content.astro.source)
---

<BaseLayout title={`${title}`} description={description}>
    <main class="prose max-w-none prose-list-disc leading-6">
        <slot />
    </main>
    <div class="text-xs my-8 mt-24">This page is open source, check it out on
        <a class="font-semibold link" href="https://github.com/manuelfessen" target="_blank">
            Github.</a>. Last update on {builtAtFormatted}.
    </div>
</BaseLayout>