---
import Navigation from '../components/Navigation.astro';
import Header from '../components/header.astro';
import BaseHead from '../components/Head/BaseHead.astro';
import Footer from '../components/Footer/Footer.astro';

const {title, description} = Astro.props;
---
<html class="h-full motion-safe:scroll-smooth" data-theme="dark">
  <head>
    <BaseHead title={title} description={description} />
  </head>

  <body class="h-full overflow-x-hidden text-base bg-default text-default selection:bg-secondary selection:text-white">
    <Header />
    <div class="pb-4 mt-12 md:mt-16 lg:mt-20">
        <slot />
    </div>
    <Footer />
  </body>
</html>


