---
import type { SiteMeta } from "@/types";
import BaseHead from "@/components/BaseHead";
import Header from "@/components/Navigation/NavBar";
import Footer from "@/components/Footer/Footer";
import siteMeta from "src/site-meta.config";

export type Props = {
	meta: SiteMeta;
};

const {
	meta: { title, description, image },
} = Astro.props as Props;
---
<!-- .____  ____.     .__________.                                  .___.
     |    ||    |___. |          |      .____.                      |   |
     |    ||    |   | |          |__. __|.   | ______.___. ____  ___|   |
     |    ¯¯    |___| |     _____|  |/   |___|/      \   |/    \/   \   |
     |   XOXO   |___. |     ¯¯¯¯|    ____|__|.    ||  |        |        |
     |    __    |   | |    .____|   |   |    |  \____/   /|    |   ||   |
     |    ||    |   | |    |   |    |   |    |   ¯¯¯¯/   ||    |        |
     |____||____|___| |____|   |____|   |____|\_____/|___||____|\____/__| -->
<!-- Glad to see you're interested in inspecting the nuts and bolts that
     went into this box 'o pixels. Feel free to use anything, I advise to take a look at my repo at github.
     Cheers! -->
<html
	lang={siteMeta.lang}
	class="flex flex-col items-center md:px-8 motion-safe:scroll-smooth pt-4 px-4"
	data-theme="garden"
>

<script>
	document.addEventListener("DOMContentLoaded", () => {
		const toggleThemeButton = document.getElementById("theme-switcher");
		const toggleDarkMode = (isDark) => {
			// Keep localStore in sync
			if (localStorage.getItem("theme") !== isDark) {
				localStorage.setItem("theme", isDark ? "dark" : "light");
			}
		};
	});
</script>
	<BaseHead title={title} description={description} image={image} />

	<body class="flex flex-col max-w-3xl w-full min-h-max top-0 font-light">
		<div class="top-0">
			<Header />
		</div>
		<div class="lg:mt-0 md:mt-4 mt-8 inset-0 grow">
			<slot />
		</div>
		<div class="bottom-0">
			<Footer />
		</div>
	</body>
</html>
