---
import BaseHead from '@/components/BaseHead.astro'
import Navbar from '@/components/Navbar.astro'
import Sidebar from '@/components/Sidebar.astro'
import type { SiteMeta } from '@/types/index'
import { Image } from '@astrojs/image/components'
import avatar from 'public/sw.webp'

export type BaseHeadProps = {
  meta: SiteMeta
}

const { title, description, image } = Astro.props as BaseHeadProps
---

<html lang='en' class='font-serif antialiased'>
  <head>
    <BaseHead title={title} description={description} />
  </head>
  <body
    class='relative flex h-full min-h-screen w-full bg-white dark:bg-black text-black dark:text-white overscroll-none'
  >
    <Sidebar />
    <main class='flex flex-1'>
      <div class='flex w-full'>
        <div
          class='relative flex max-h-screen w-full flex-col overflow-y-auto bg-white dark:bg-black'
        >
          <Navbar />
          <slot />
        </div>
      </div>
    </main>
  </body>
</html>
