---
import BaseHead from '@/components/BaseHead.astro'
import Sidebar from '@/components/Sidebar.astro'
import type { SiteMeta } from '@/types/index'
import { Image } from '@astrojs/image/components'
import avatar from 'public/sw.webp'

export type BaseHeadProps = {
  meta: SiteMeta
}

const { title, description, image } = Astro.props as BaseHeadProps
---

<html lang='en' class='scroll-smooth font-serif antialiased'>
  <head>
    <BaseHead title={title} description={description} />
  </head>
  <body class='relative flex h-full min-h-screen w-full'>
    <Sidebar />
    <main class='flex flex-1'>
      <div
        class='relative flex max-h-screen w-full flex-col overflow-y-auto bg-white dark:bg-black'
      >
        <div class='mx-auto w-full max-w-3xl px-4 py-12 pb-10 md:px-8'>
          <slot/>
        </div>
      </div>
    </main>
  </body>
</html>
