---
import BaseHead from '@/components/BaseHead.astro'
import Sidebar from '@/components/Sidebar.astro'
import type { SiteMeta } from '@/types/index'
import { Image } from '@astrojs/image/components'
import avatar from 'public/sw.webp'

export type BaseHeadProps = {
  meta: SiteMeta
}

const { title, description, image } = Astro.props as BaseHeadProps
---

<html lang='en' class='font-serif antialiased'>
  <head>
    <BaseHead title={title} description={description} />
  </head>
  <body class='relative flex h-full min-h-screen w-full bg-white dark:bg-black text-black dark:text-white overscroll-none '>
    <Sidebar />
    <div class="fixed inset-0 z-20 bg-black bg-opacity-10 transition duration-200 ease-in-out dark:bg-opacity-50 pointer-events-none opacity-0"></div>
    <main class='flex flex-1'>
      <div class='flex w-full'>
        
            <slot />
          </div>
    </main>
  </body>
</html>
