---
import Navbar from '@/components/Navbar.astro'
import type { SiteMeta } from '@/types/index'
import FullLayout from './FullLayout.astro'

export type BaseHeadProps = {
  meta: SiteMeta
}

const { title, description, image } = Astro.props as BaseHeadProps
---

<FullLayout title={`${title} – Manuel Fessen`} description={description}>
  <div class="flex flex-col overflow-y-auto w-full">
  <Navbar />
  <slot />
</div>
</FullLayout>
