---
import { SEO } from 'config'
import Navbar from '@/components/Navbar.astro'
import type { SiteMeta } from '@/types/index'
import FullLayout from './FullLayout.astro'

export type BaseHeadProps = {
  meta: SiteMeta
}
const metadata: SiteMeta = {
  title: SEO.title,
  description: 'Manuel Fessen - UX Professional',
}
---

<FullLayout {...metadata}>
  <div class="flex flex-col overflow-y-auto w-full">
  <Navbar />
  <slot />
</div>
</FullLayout>
