---
import { getCollection } from "astro:content";
import getSortedPosts from "@utils/getSortedPosts";
import Layout from "@layouts/Layout.astro";
import Main from "@layouts/Main.astro";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import SearchBar from "@components/Search";
import Card from "@components/Card";
import { SITE } from "@config";

export interface Props {
  currentPage: number;
  totalPages: number;
}

// Retrieve all articles
const posts = await getCollection("blog", ({ data }) => !data.draft);

// List of items to search in
const searchList = posts.map(({ data, slug }) => ({
  title: data.title,
  description: data.description,
  data,
  slug,
}));

const sortedPosts = getSortedPosts(posts);
const { totalPages } = Astro.props;
---

<Layout title={`Posts | ${SITE.title}`}>
  <Header activeNav="" />
  <Main pageTitle="Posts" pageDesc="All the articles I've posted.">
    
    <SearchBar client:load searchList={searchList} />
    <ul>
      {
        sortedPosts.map(({ data, slug }) => (
          <Card href={`/blog/${slug}`} frontmatter={data} />
        ))
      }
    </ul>
  </Main>

  <Footer noMarginTop={totalPages > 1} />
</Layout>
