---
import BaseLayout from './BaseLayout.astro'
import Giscus from '@/components/Giscus.astro'
import { cx } from '@/lib/utils'
import type { MarkdownLayoutProps } from 'astro'
import type { Frontmatter } from '@/types'
import '@/styles/syntaxHighlight.css'

interface Props extends MarkdownLayoutProps<Frontmatter> {}

const { title, description } = Astro.props.frontmatter
---

<BaseLayout title={`${title} – Manuel Fessen`} description={description}>
  <h1 class='mb-6 text-2xl font-bold xl:text-3xl  tracking-tight'>{title}</h1>
  <p class='mb-6 text-gray-600 dark:text-gray-300 text-lg md:text-l'>{description}</p>
  <article
    class={cx(
      'prose lg:prose-lg dark:prose-invert text-gray-600 dark:text-gray-300 max-w-none w-full mx-auto',
      'prose-hr:transition-colors prose-hr:duration-300',
      'prose-pre:border-2 prose-pre:border-gray-200 dark:prose-pre:border-gray-700',
      'prose-code:text-pink-500'
    )}
  >
    <slot />
  </article>
</BaseLayout>
